@page "/"
@using Services
@implements IAsyncDisposable

<PageTitle>Cerbert Patting Simulator</PageTitle>

<head>
    <link rel="stylesheet" href="css/pat.css">
</head>

<div class="text-container debug" >
    <h1>Pat Cerber!</h1>
        <div class="status-text">
        <p>3 pat animations are 1 pat</p>
        <p>Cerber has been pat <span style="color:darkmagenta">@sumCounter</span> times.</p>
        @if (isMute)
        {
            <p style="font-size: min(2vw, 2vh);" >Click once to unmute</p>
        }
    </div>
</div>

<div class="img-container" @onmousemove="OnMouseMove" @onmouseenter="OnMouseEnter" @onmouseleave="OnMouseLeave" @onclick="OnClick">
    <audio @ref="audioRef" @onended="OnAudioEnded" >
        <source src="assets/audio/mygosh.mp3" type="audio/mpeg">
    </audio>

    <img class="cerber" draggable="false" src="@((IsMoving && IsInPatArea) || !isPatable ? "assets/image/dawg-smile.png" : "assets/image/dawg.png")" alt="Cerber" />

    @if ((IsMoving && IsInPatArea) || !isPatable)
    {
        <img class="patpat" draggable="false" src="assets/image/patpat.webp" alt="Patpat" @ontimeout="Abc" />
    }
</div>



@code {
    [Inject] public required IJSRuntime JSRuntime { get; set; }
    private DotNetObjectReference<Pat>? DotNetObjRef { get; set; }

    private bool isMoving = false;
    private bool IsMoving
    {
        get => isMoving;
        set
        {
            isMoving = value;
            IsPatting = IsMoving && IsInPatArea;
        }
    }
    private bool isInPatArea = false;
    private bool IsInPatArea
    {
        get => isInPatArea;
        set
        {
            isInPatArea = value;
            IsPatting = IsInPatArea && IsMoving;
        }
    }
    private bool isPatting = false;
    private bool IsPatting
    {
        get => isPatting;
        set
        {
            if (isPatting == value) return;
            isPatting = value;
            ManageAudio(value);
        }
    }
    private int sumCounter = 0;
    private int globCounter = 0;
    private int localCounter = 0;
    private int LocalCounter
    {
        get => localCounter;
        set
        {
            localCounter = value;
            sumCounter = localCounter + globCounter;
        }
    }
    private int pattingTicks = 0;
    private int PattingTicks
    {
        get => pattingTicks;
        set
        {
            pattingTicks = value;
            
            if (pattingTicks >= 15)
            {
                LocalCounter++;
                pattingTicks = 0;
                if (!isPatting) StateHasChanged();
            }
        }
    }
    private bool isPatable = true;
    private bool isMute = true;
    private Timer? timer;
    private DateTime lastMouseMove;
    private TimeSpan idleThreshold = TimeSpan.FromSeconds(0.1);
    private ElementReference audioRef;



// TODO
// - [X] Add onunload function to store click count in db
// - [X] Add a functon to get and sum up all counts in the db
// - [ ] Add functionality to safely delete all stored scores while storin the sum as a new single entry.

    protected override void OnInitialized()
    {
        DotNetObjRef = DotNetObjectReference.Create(this);
        JSRuntime.InvokeVoidAsync("setDotNetObjRef", DotNetObjRef);
        JSRuntime.InvokeVoidAsync("db.init", _FirebaseConfig.ConfigString);
        timer = new Timer(CheckIdleStatus, null, TimeSpan.FromSeconds(0), idleThreshold);
    }

    private void Abc() => Console.WriteLine("TESING");

    [JSInvokable] public int GetPattingCount()
    {
        return sumCounter;
    }

    [JSInvokable] public void SetPattingCount(string value)
    {
        globCounter = int.Parse(value);
        LocalCounter = 0;
    }

    private async void ManageAudio(bool value)
    {
        if (value) await PlayAudio();
        else await StopAudio();
    }

    private void OnAudioEnded()
    {
        isPatable = true;
        StateHasChanged();
    }

    private async Task PlayAudio()
    {
        if (!isPatable) return;

        if (!isMute)
        {
            await JSRuntime.InvokeVoidAsync("audioPlayer.play", audioRef);
            isPatable = false;
        }
    }

    private async Task StopAudio()
    {
        if (!isMute) await JSRuntime.InvokeVoidAsync("audioPlayer.setLoop", false);
    }

    private void CheckIdleStatus(object? state)
    {
        if (DateTime.Now.Subtract(lastMouseMove) >= idleThreshold && IsMoving)
        {
            IsMoving = false;
            StateHasChanged();
        }

        if ((IsMoving && IsInPatArea) || !isPatable) PattingTicks++;
    }

    private void OnMouseMove(MouseEventArgs e)
    {
        IsMoving = true;
        lastMouseMove = DateTime.Now;
    }

    private void OnMouseEnter()
    {
        IsInPatArea = true;
    }    

    private void OnMouseLeave()
    {
        IsInPatArea = false;
    }    

    private void OnClick()
    {
        isMute = false;
        ManageAudio(true);
    }

    public async ValueTask DisposeAsync()
    {
        if (DotNetObjRef != null) DotNetObjRef.Dispose();
        if (timer != null) await timer.DisposeAsync();
    }
}
